<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns="http://www.w3.org/ns/widgets" xmlns:rim="http://www.blackberry.com/ns/widgets" version="1.0.0.1" id="framework" xml:lang="en">
	<author href="" rim:copyright="">Kamal Sharma</author>
  	<icon src="icon.png"/>
  	<name>framework</name>
  	<content src="index.html"/>
  
	<feature id="blackberry.app" />
	<feature id="blackberry.invoke"/>
	
	<feature id="blackberry.app.orientation">
    	<param name="mode" value="portrait" />
  	</feature>
	
</widget>